<div class="container">

  <div class="text-center">

    <h1>Stupid Coaching</h1>

    <p>Ask your Coach a question</p>

    <form action="/answer">
      <div class="form-inline-center">
        <input type="text" name="question" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
